@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light mode */
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-accent: #3b82f6;

  /* Dark mode */
  --color-bg-dark: #020617;
  --color-surface-dark: #020617;
  --color-text-dark: #f8fafc;
  --color-muted-dark: #94a3b8;
  --color-accent-dark: #60a5fa;
}
